body {
    font-family: 'AR One Sans', sans-serif;
    margin-top: 0px;
    margin-left: 0px;
    width: 100vw;
}

header {
    margin-top: 0px;
    background-color: #9f85ff;
    display: flex;
    color: white;
    font-size: 1.25rem;
}

#header-sentence {
    margin-left: 10px;
}

.card {
    margin-top: 15px;
    border-radius: 15px;
    height: 6rem;
    background-color: #fff;
    box-shadow: 5px 5px 10px #888888;
    width: 95vw;
    display: flex;
    margin-left: 10px;
}

.icon {
    margin-top: 6.5px;
    margin-left: 10px;
    width: auto;
    height: 2.25rem;
}

.event-name {
    margin-left: 3rem;
    height: auto;
}

.venue {
    height: auto;
}

.time {
    margin-top: 3rem;
}